* {
    font-family: poppinsregular;
}

html {
    background-image: linear-gradient(to bottom, #DFC0BD, #B9B8B4, #A2B2B2);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 90px;
    display: flex;
    background-color: rgb(34, 34, 34);
    border-color: rgb(49, 49, 49);
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 20px;
    border-style: solid;
    flex-direction: column;
}

form [type="submit"]:hover {
    border-radius: 60px;
    cursor: pointer;
}

#botao-logar {
    border-radius: 60px;
    font-weight: bold;
}

input {
    align-self: center;
    border-radius: 16px;
    padding: 18px;
    width: 130%;
    margin: 5px;
}

.inputtexto {
    outline: none;
}

#title {
    margin-bottom: 65px;
    text-align: center;
    color: rgb(255, 255, 255);
}
